body {
	/*color: #000000;*/
	font-family: 'Indie Flower', cursive;
	/*background-image: url(Images/me.jpg);*/
}

#firstPage {
	 background-image: url('../../me.jpg');
	opacity: 0.9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 /* box-shadow: 0 0 8px 8px white inset;*/
}

#title {
	margin-top: 5%;
	margin-left: -20%;
	    text-shadow: 3px 3px black;
    color: white;
}

#subtitle {
	    text-shadow: 3px 3px black;
    color: white;
    margin-right: -20%;
}

#space {
	height: 50%;
}

/*#me {
	position: fixed;
  top: 0; 
  left: 0; 
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
}*/

h1 {
	font-size: 80px;
}

h3 {
	font-size: 40px;
}

#me {
	display: block;
	margin: auto;
	width: 30%;
}

.emphasize {
	font-size: 60px;
}

.intro {
	display: block;
	margin: auto;
}

@media only screen and (min-width: 480px) {
	.intro {
		width: 90%;
	}

	#fb {
		width: 10%;
		margin-left: 40%;
	}

	#linkedin{
		width: 13%;
	}
}

@media only screen and (min-width: 768px) {
	.intro {
		width: 80%;
	}

	#fb {
		width: 9%;
		margin-left: 42%;
	}

	#linkedin {
		width: 11%;
	}
}

@media only screen and (min-width: 970px) {
	.intro {
		width: 80%;
	}

	#fb {
		width: 5%;
		margin-left: 45%;
	}

	#linkedin {
		width: 6.5%;
	}
}

.imgBoxlg {
	/*border: 1px solid black;*/
	height: 375px;
}

.imgBoxmd {
	/*border: 1px solid black;*/
	height: 325px;
}

.imgBoxsm {
	/*border: 1px solid black;*/
	height: 275px;
}

.imgBoxxs {
	/*border: 1px solid black;*/
	height: 225px;
}

.box {
	width: 90%;
	margin: auto;
	display: block;
}

#gurlcode {
	width: 100%;
	/*margin-top: 5%;*/
}

#shell {
	width: 100%;
	/*margin-top: 5%;*/
}

#cache {
	width: 60%;
	/*padding-top: 15%;*/
	margin: auto;
	display: block;
}

#LuminAID {
	width: 95%;
	/*padding-top: 10%;*/
	height: 77%;
	display: block;
	margin: auto;
}

#Reversi {
	width: 60%;
	/*padding-top: 10%;*/
	display: block;
	margin: auto;
}

#rayTracer {
	width: 60%;
	/*padding-top: 10%;*/
	display: block;
	margin: auto;
}
.contact {
	display: block;
	margin: auto;
}

#fb {
	/*float: right;*/
	/*width: 10%;*/
	display: inline-block;
	/*margin-right: 0%;*/
}

#linkedin {
/*	float: left;
*/	/*width: 13%;*/
	display: inline-block;
/*	margin-left: 60%;*/
	/*margin-right: 40%;*/
	/*margin-top: -10px;*/
}

#myModal {
	position: relative;
	z-index: 100;
	css3: true;
}

.modal, .modal-body, .modal-dialog, .modal-header, .fade, .modal-footer {
	position: relative;
	z-index: 90;
	css3: true;
}

.modalbtn {
	width: 100%;
	height: 90%;
}

.btn-primary {
	color: #FFFFFF;
}

.projects {
	padding-top: 30%;
	font-size: 60px;
}

.projectsmd {
	padding-top: 35%;
	font-size: 50px;
}

.projectssm {
	padding-top: 30%;
	font-size: 45px;
}

.projectsxs {
	padding-top: 35%;
	font-size: 35px;
}

.modaltxt {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}